body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.disturbance-icon {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  border-radius: 50%;
  flex-basis: 20%;
  max-width: 25px;
}

.disturbance-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 20px;
  text-align: left;
  flex-basis: 80%;
}

#charts-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 50px;
}

#charts-wrapper > div {
  display: flex;
  flex-direction: row;
}

.chart{
  width: 400px !important;
  height: 400px !important;
}


.gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}
