.second-upper-half {
  width: 100%;
  height: 50%;
  flex-basis: 50%;
  background-color: $bright1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .undo-button {
    position: fixed;
    top: 25px;
    left: 25px;
    width: 90px;
    height: 40px;
    background-color: $red;
    color: $dark1;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    animation-name: buttonFadeIn;
    animation-duration: 2s;
  }
  span {
    z-index: 1;
    font-size: 2rem;
    animation-duration: 0.85s;
    animation-name: loadTextRight;
    width: 60%;
    text-align: center;
    padding-bottom: 25px;
  }

  .completed {
    animation-name: fadeIn;
    animation-duration: 0.85s;
    animation-timing-function: ease-in;
  }

  .checkmarks {
    display: flex;
    justify-content: space-between;

    .checkmark {
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  p {
    position: absolute;
    margin-top: 120px;
    animation-name: fadeDown;
    animation-duration: 1.5s;
    width: 90%;
    text-align: center;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
    margin-top: 100px; 
  }
  100% {
    opacity: 1;
    margin-top: 120px;
  }
}

@keyframes loadTextRight {
  0% {
    margin-right: 550px;
  }

  100% {
    margin-right: 0;
  }
}

.second-bottom-half {
  width: 100%;
  height: 50%;
  flex-basis: 50%;
  background-color: $dark1;
  display: flex;
  justify-content: center;
  align-items: center;
  
  textarea {
    color: $bright1;
    width: 90%;
    outline: none;
    border: none;
    font-size: 2rem;
    position: absolute;
    background-color: $dark1;
    animation-name: fadeIn;
    animation-duration: 2s;
  }

  .text-area.disabled {
    color: $dark2;
  }

  .send-button {
    width: 140px;
    height: 60px;
    position: fixed;
    background-color: #508AA8;
    bottom: 25px;
    right: 25px;
    border-radius: 5px;
    border: 3px solid #508AA8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #0F2F44;
    animation-name: buttonFadeIn;
    animation-duration: 2s;
    font-weight: 500;
    text-align: center;  
  }

  .send-button-no-animation {
    width: 140px;
    height: 60px;
    position: fixed;
    background-color: #508AA8;
    bottom: 25px;
    right: 25px;
    border-radius: 5px;
    border: 3px solid #508AA8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #0F2F44;
    font-weight: 500;
    text-align: center;
    
  }
  .disappear-button {
    width: 140px;
    height: 60px;
    position: fixed;
    background-color: $dark2;
    bottom: 25px;
    right: -170px;
    border-radius: 5px;
    border: 3px solid $dark2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: $dark1;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    font-weight: 500;
    animation-name: buttonDisappear;
    text-align: center;
  }
}

@keyframes buttonDisappear {

  0% {
    right: 25px;
  }
  100% {
    right: -170px;
  }
}

.back-button {
  width: 140px;
  height: 60px;
  position: fixed;
  background-color: $dark2;
  bottom: 25px;
  left: 25px;
  border-radius: 5px;
  border: 3px solid $dark2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: $dark1;
  animation-name: buttonFadeIn;
  animation-duration: 2s;
  font-weight: 500;
  text-align: center;
}

@keyframes buttonFadeIn {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
